.bounce-animation{
    animation: animationFramesBounce linear 1.5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-delay: 500ms;
    // -webkit-animation: animationFramesBounce linear 0.8s;
    // -webkit-animation-iteration-count: infinite;
    // -webkit-transform-origin: 50% 50%;
    // -moz-animation: animationFramesBounce linear 0.8s;
    // -moz-animation-iteration-count: infinite;
    // -moz-transform-origin: 50% 50%;
    // -o-animation: animationFramesBounce linear 0.8s;
    // -o-animation-iteration-count: infinite;
    // -o-transform-origin: 50% 50%;
    // -ms-animation: animationFramesBounce linear 0.8s;
    // -ms-animation-iteration-count: infinite;
    // -ms-transform-origin: 50% 50%;
  }
  
  @keyframes animationFramesBounce{
    0% {
      transform:  translate(0px,0px)  ;
    }
    15% {
      transform:  translate(0px,-25px)  ;
    }
    30% {
      transform:  translate(0px,0px)  ;
    }
    45% {
      transform:  translate(0px,-15px)  ;
    }
    60% {
      transform:  translate(0px,0px)  ;
    }
    75% {
      transform:  translate(0px,-5px)  ;
    }
    100% {
      transform:  translate(0px,0px)  ;
    }
  }
  
  @-moz-keyframes animationFramesBounce{
    0% {
      -moz-transform:  translate(0px,0px)  ;
    }
    15% {
      -moz-transform:  translate(0px,-25px)  ;
    }
    30% {
      -moz-transform:  translate(0px,0px)  ;
    }
    45% {
      -moz-transform:  translate(0px,-15px)  ;
    }
    60% {
      -moz-transform:  translate(0px,0px)  ;
    }
    75% {
      -moz-transform:  translate(0px,-5px)  ;
    }
    100% {
      -moz-transform:  translate(0px,0px)  ;
    }
  }
  
  @-webkit-keyframes animationFramesBounce {
    0% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    15% {
      -webkit-transform:  translate(0px,-25px)  ;
    }
    30% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    45% {
      -webkit-transform:  translate(0px,-15px)  ;
    }
    60% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    75% {
      -webkit-transform:  translate(0px,-5px)  ;
    }
    100% {
      -webkit-transform:  translate(0px,0px)  ;
    }
  }
  
  @-o-keyframes animationFramesBounce {
    0% {
      -o-transform:  translate(0px,0px)  ;
    }
    15% {
      -o-transform:  translate(0px,-25px)  ;
    }
    30% {
      -o-transform:  translate(0px,0px)  ;
    }
    45% {
      -o-transform:  translate(0px,-15px)  ;
    }
    60% {
      -o-transform:  translate(0px,0px)  ;
    }
    75% {
      -o-transform:  translate(0px,-5px)  ;
    }
    100% {
      -o-transform:  translate(0px,0px)  ;
    }
  }
  
  @-ms-keyframes animationFramesBounce {
    0% {
      -ms-transform:  translate(0px,0px)  ;
    }
    15% {
      -ms-transform:  translate(0px,-25px)  ;
    }
    30% {
      -ms-transform:  translate(0px,0px)  ;
    }
    45% {
      -ms-transform:  translate(0px,-15px)  ;
    }
    60% {
      -ms-transform:  translate(0px,0px)  ;
    }
    75% {
      -ms-transform:  translate(0px,-5px)  ;
    }
    100% {
      -ms-transform:  translate(0px,0px)  ;
    }
  }