@right-padding : 10rem;
@logo-height : 10rem;
@logo-width : 10rem;

@small-right-padding : 5rem;
@small-logo-height : 5rem;
@small-logo-width : 5rem;

.general_view {
    height: 100vh;
    width: 100vw;
    text-align: center;
    //background-color: #EDE7F6;
}

.vertical_alignment {
    display: flex; 
    justify-content: center; 
    align-items:center;
}

.continue_button {
    border-radius: 0.5rem;
    background-color: white;
    width: 15rem;
    height: 3.5rem;
    font-size: 1.25rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    &:hover {
        border-color: green;
    }
}

.logo {
    .logo_time {
        height: @logo-height;
        width: @logo-width;
        padding-right: @right-padding;
    }
    .logo_note { 
        height: @logo-height;
        width: @logo-width;
        padding-right: @right-padding;
    }
    .logo_mime {
        height: @logo-height;
        width: @logo-width;
    }

    padding-bottom: 5rem;
}
