.start_game_button {
    //border: 2rem, solid;
    border-radius: 0.5rem;
    background-color: #E1BEE7;
    width: 40rem;
    height: 10rem;
    font-size: 5rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}