.increment_decrement_button{
    background-color: white;
    font-size: 2.5rem;
    border: 0.5rem, solid, black;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    &.dec:hover{
        border-color: red;
    }

    &.inc:hover{
        border-color: green;
    }
}
